/* Filename - App.css */
/* It containds the Form and Page Styling*/
@import "../Var.css";

.task-component {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: var(--font-size-big);
  text-align: start;
  font-weight: 400;
  color: var(--input-focus);
}
