.taskWrap {
  text-align: start;
  justify-content: start;
  background-color: #f1f1f1;
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
}
button {
  border: 0;
  height: 40px;
  border-radius: var(--radius);
}
.title-bar {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.task-component {
  grid-column: 2/12;
  display: flex;
  justify-content: space-between;
}

.task-folder h2 {
  font-size: var(--font-size-big);
  text-align: start;
  font-weight: 400;
  color: var(--input-focus);
}
.task-folder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.button-right {
  display: flex;
  gap: 20px;
}
.button-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
