.task-form {
  width: 100%;
}

fieldset {
  border: none;
}

.task-form input {
  display: block;
  width: 100%;
  /* margin-bottom: 15px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 16px;
  border-radius: 10px;
}

.task-form input[type="radio"],
.task-form input[type="checkbox"] {
  display: inline;
  width: 10%;
}
.task-form select {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-form input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: var(
    --color-primary
  ); /* ✅ Меняет цвет галочки в современных браузерах */
  cursor: pointer;
}

/* Убираем синий фокус */
.task-form input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.task-form input:focus,
.task-form select:focus,
.task-form textarea:focus,
.task-form button:focus,
.task-form input[type="checkbox"]:focus {
  outline: none; /* ❌ убирает синий outline */
  border-color: #888; /* ✅ устанавливает свой цвет рамки */
  box-shadow: none; /* ❌ убирает glow, если есть */
}

.task-form label {
  font-size: 20px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.task-form button {
  padding: 15px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: var(--color-primary);
  width: fit-content;
  height: fit-content;
  font-size: 16px;
}
.task-form textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  font-size: 16px;
  min-height: 100px;
  max-height: 150px;
  border-radius: 10px;
  border: 1px solid var(--input-border);
}
.radios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
