/* Filename - App.css */
/* It containds the Form and Page Styling*/
@import "./Var.css";

::selection {
  background-color: var(--color-primary); /* фон при выделении */
  color: white; /* цвет текста при выделении */
}

body {
  font-family: "Inter", sans-serif;
}
